.room {
    background-image: url('../images/backgroundRoom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    display: flex;
    justify-content: center;
    align-items: center;
}

.room_main {
    background-color: rgba(127, 255, 212, 0.521);
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;

}

.room_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.room-avatar {
    width: 120px;
}

.room-mic {
    width: 90px;
}
.person {
    display:flex;
    gap:10px;
    position: absolute;
}

.person:nth-of-type(1){
    bottom: 120px;
    left: 90px;
}
.person:nth-of-type(2){
    bottom: 120px;
    right: 90px;
}
.person:nth-of-type(3){
    bottom: 215px;
    left: 170px;
}
.person:nth-of-type(4){
    bottom: 215px;
    right: 170px;
}.person:nth-of-type(5){
    bottom: 278px;
    left: 241px;
}
.person:nth-of-type(6){
    bottom: 278px;
    right: 241px;
}.person:nth-of-type(7){
    bottom: 336px;
    left: 296px;
}
.person:nth-of-type(8){
    bottom: 336px;
    right: 296px;
}

.room-left{
display: flex;
flex-direction: row-reverse;
}

.room-right {

}

.room-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    padding: 20px;
    position: absolute;
    background-color: hsla(0, 0%, 81%, 0.5);
    top: 0;
    right: 0;
}

.room-menu__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

