.room {
    background-image: url('../images/backgroundRoom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    display: flex;
    justify-content: center;
    align-items: center;
}

.room_main {
    background-color: rgba(127, 255, 212, 0.521);
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.room_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.room-avatar {
    width: 120px;
}

.room-mic {
    width: 90px;
}

.room-left {}

.room-right {}

.room-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    padding: 20px;
    position: absolute;
    background-color: hsla(0, 0%, 81%, 0.5);
    top: 0;
    right: 0;
}

.room-menu__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}